<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auditflow.customize.mapper.AuditFlowItemDetailMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.auditflow.customize.entity.AuditFlowItemDetailEntity" id="auditFlowItemDetailMap">
        <id property="id" jdbcType="INTEGER" column="id"/>
        <result property="flowItemId" column="flow_item_id"/>
        <result property="auditUsername" column="audit_username"/>
        <result property="auditResult" column="audit_result"/>
        <result property="currentG6NodeId" column="current_g6_node_id"/>
        <result property="currentG6NodeLabel" column="current_g6_node_label"/>
        <result property="nextG6NodeId" column="next_g6_node_id"/>
        <result property="nextG6NodeLabel" column="next_g6_node_label"/>
        <result property="auditStatus" column="audit_status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="base_colum">
			id,
			`flow_item_id`,
			`audit_username`,
			`audit_result`,
			`current_g6_node_id`,
			`current_g6_node_label`,
			`next_g6_node_id`,
			`next_g6_node_label`,
			`audit_status`,
			`create_time`
	</sql>

    <insert id="save" parameterType="com.auditflow.customize.entity.SceneEntity" useGeneratedKeys="true" keyProperty="id">
        insert into audit_flow_item_detail
		(
        <if test="flowItemId!=null and flowItemId!=0">`flow_item_id`,</if>
		<if test="auditUsername!=null and auditUsername!=''">`audit_username`,</if>
		<if test="auditResult!=null and auditResult!=''">`audit_result`,</if>
		<if test="currentG6NodeId!=null and currentG6NodeId!=''">`current_g6_node_id`,</if>
		<if test="currentG6NodeLabel!=null and currentG6NodeLabel!=''">`current_g6_node_label`,</if>
		<if test="nextG6NodeId!=null and nextG6NodeId!=''">`next_g6_node_id`,</if>
		<if test="nextG6NodeLabel!=null and nextG6NodeLabel!=''">`next_g6_node_label`,</if>
		<if test="auditStatus!=null and auditStatus!=0">`audit_status`,</if>
			`create_time`
		)
		values
		(
		<if test="flowItemId!=null and flowItemId!=0"> #{flowItemId},</if>
		<if test="auditUsername!=null and auditUsername!=''">#{auditUsername},</if>
		<if test="auditResult!=null and auditResult!=''">#{auditResult},</if>
		<if test="currentG6NodeId!=null and currentG6NodeId!=''">#{currentG6NodeId},</if>
		<if test="currentG6NodeLabel!=null and currentG6NodeLabel!=''">#{currentG6NodeLabel},</if>
		<if test="nextG6NodeId!=null and nextG6NodeId!=''">#{nextG6NodeId},</if>
		<if test="nextG6NodeLabel!=null and nextG6NodeLabel!=''">#{nextG6NodeLabel},</if>
		<if test="auditStatus!=null and auditStatus!=0">#{auditStatus},</if>
			#{createTime}
		)
    </insert>


    <select id="selectFlowItemDetails" resultMap="auditFlowItemDetailMap">
		select <include refid="base_colum"></include> from audit_flow_item_detail where flow_item_id = #{flowItemId}
	</select>

</mapper>
