<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wf.flow.mapper.FlowNodeMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.wf.flow.entity.FlowNodeEntity" id="nodeMap">
        <id property="id" jdbcType="INTEGER" column="id"/>
        <result property="nodeName" column="node_name"/>
        <result property="type" column="type"/>
        <result property="createrName" column="creater_name"/>
		<result property="createTime" column="create_time"/>
		<result property="isValid" column="is_valid"/>
    </resultMap>

    <sql id="base_colum">
			id,
			`node_name`,
			`type`,
			`creater_name`,
			`create_time`,
			`is_valid`
	</sql>

    <insert id="save" parameterType="com.wf.flow.entity.FlowNodeEntity" useGeneratedKeys="true" keyProperty="id">
        insert into t_flow_node
		(
			`node_name`,
			`type`,
			`creater_name`,
			`create_time`,
			`is_valid`
		)
		values
		(
			#{nodeName},
			#{type},
			#{createrName},
			#{createTime},
			#{isValid}
		)
    </insert>

	<select id="selectAllNodes" resultMap="nodeMap">
        select <include refid="base_colum"/> from t_flow_node where is_valid=1
    </select>

	<select id="findTopById" resultMap="nodeMap">
		select <include refid="base_colum"/> from t_flow_node where id=#{id}
	</select>

	<select id="queryPage" resultMap="nodeMap">
		select <include refid="base_colum"/> from t_flow_node where 1=1
		<if test="name!=null and name!=''">
			and node_name like CONCAT('%',#{name},'%')
		</if>
		limit #{pagenum},#{pagesize}
	</select>

	<select id="countByQuery" resultType="java.lang.Integer">
		select count(*) from t_flow_node where 1=1
		<if test="name!=null and name!=''">
			and node_name like CONCAT('%',#{name},'%')
		</if>
	</select>

	<update id="updateNode">
		update t_flow_node
		set node_name = #{nodeName},`type`=#{type}
		where id=#{id}
	</update>

	<update id="updateValid">
		update t_flow_node
		set is_valid=#{isValid}
		where id=#{id}
	</update>
</mapper>
